body{
	width:1040px;
	margin:0 auto;
}
#headerSec{
	width:100%; height:100px;margin-bottom: 20;
}
#headerSec img{
	width:100%;height:100%;
}
#giftHead{
	text-align: center;
}
#giftHead h1{
	display: inline;background: #fff;
	padding: 0 10;color: #58585a;
	font-size: 20;font-style:italic;
font-weight: 600;
}
.strikeBar{
	width: 1000px;border: solid;
	margin: auto;
	border-width: 1;margin-top: -13;
	margin-bottom: 35;border-color: #ccc;
}
.bxslider{
	height:350px;position:absolute;
}
.bxslider img{
	width:100%;height:100%;
}
.bx-wrapper {
	margin:0px;
}
.bx-wrapper .bx-viewport {
	border:0px;
	left: 0px;
}
ul{
	-webkit-margin-before: 0px;
	-webkit-margin-after: 0px;
	-webkit-padding-start:0px;
}
#gotoSlide{
	margin-bottom: 5;
	margin-top: 5;
	height:45px;
}
#gotoSlide a{
	display:block;
	float:left;
	text-decoration: none;text-transform: uppercase;
	color: #58585b;font-family: Arial;
	margin-right: 5px;
	margin-bottom: 10px;
	padding: 5 15 5 15;
}
#gotoSlide a:hover{
	background: #f3f3f3;
	font-weight:bold;
}
#gotoSlide .active{
	background: #f3f3f3;
	font-weight:bold;
}
#dealOfTheDayWrapper{
	width:100%;height:200px;margin-bottom: 30px;
}
.dealOfTheDay{
	width: 33.33%;height:100%;float: left;
}
.dealOfTheDay img{
	width: 100%;height:100%;
}
.dealOfTheDay:last-child{
	position:relative;
}
#countDownWrapper {
	position:absolute;top:65px;width: 100%;text-align: center;
}
#countDownWrapper input{
	position:relative;top:10px;
}
#shopDeal{
	background: url(http://placehold.it/350x150);
}
#offerSignUp{
	width:98%;text-align: center;border-top: solid;border-color: #b7d775;margin-left: auto;margin-right: auto;padding-top: 20px;position: relative;
}
#offerSignUp p{
	display: inline-block;color: #58585b;font-family: Arial;font-size: 15;
}
#offerSignUp input{
	margin-left: 10px;display: inline-block;margin-right: 0;
}
#offerSignUp ::-webkit-input-placeholder {
	padding:0 0 0 10;
}
#offerSignUp .go{
	background: url(http://placehold.it/350x150);width:22px;height: 22px;display: inline-block;position: absolute;top: 33px;
}