body{
	margin:30px;
}
#headerSec{
	width:100%; height:100px;margin-bottom: 20;
}
#headerSec img{
	width:100%;height:100%;
}
.bxslider{
	height:350px;position:absolute;
}
.bxslider img{
	width:100%;height:100%;
}
.bx-wrapper {
	margin:0px;
}
.bx-wrapper .bx-viewport {
	border:0px;
	left: 0px;
}
ul{
	-webkit-margin-before: 0px;
	-webkit-margin-after: 0px;
	-webkit-padding-start:0px;
}
#gotoSlide{
	margin-bottom: 5;
	margin-top: 5;
	height:45px;
}
#gotoSlide a{
	display:block;
	float:left;
	text-decoration: none;
	margin-right: 5px;
	margin-top: 5px;
	margin-bottom: 10px;
	padding: 5 20 5 20;
}
#gotoSlide a:hover{
	background: grey;
	opacity: 0.8;
}
#gotoSlide .active{
	background: grey;
	opacity: 0.8;
}
#dealOfTheDayWrapper{
	width:100%;height:200px;margin-bottom: 30px;
}
.dealOfTheDay{
	width: 33.33%;height:100%;float: left;
}
.dealOfTheDay img{
	width: 100%;height:100%;
}
.dealOfTheDay:last-child{
	position:relative;
}
#countDownWrapper {
	position:absolute;top:65px;width: 100%;text-align: center;
}
#countDownWrapper input{
	position:relative;top:10px;
}
#shopDeal{
	background: url(http://placehold.it/350x150);
}
#offerSignUp{
	width:98%;text-align: center;border-top: solid;border-color: #b7d775;margin-left: auto;margin-right: auto;padding-top: 20px;position: relative;
}
#offerSignUp p{
	display: inline-block;
}
#offerSignUp input{
	margin-left: 10px;display: inline-block;margin-right: 0;
}
#offerSignUp .go{
	background: url(http://placehold.it/350x150);width:22px;height: 22px;display: inline-block;position: absolute;top: 35px;
}